.avatar {
    &__wrapper {
        border: 0.2rem solid $primary-text;
        border-radius: 100%;
        overflow: hidden;

        &--hidden{
            display: none;
        }
    }
    &__img {
        width: 100%;
        margin: 0 0 -0.5rem 0;
    }
}
