.button {
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 600;

    &--primary {
        background: $primary-text;
        color: $primary-bg;
        width: 100%;
    }

    &--follow {
        font-size: 1.2rem;
        background: $primary-text;
        color: $primary-bg;
        margin: 1rem;
    }

    &--popup {
        font-size: 1.2rem;
        padding: 0rem;
        color: inherit;
        background: inherit;
    }
}
