.button {
    font-size: 1.6rem;
    border: none;
    border-radius: 2rem;
    padding: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.8s;
    background: $primary-text;
    color: $primary-bg;

    &--login{
        width: 100%;
    }

    &--follow {
        font-size: 1.2rem;
        padding: 0;
        background: transparent;
        color:$primary-text;
        transition: none;

    }

    &__close{
        font-size: 1rem;
        border: none;
        width: unset;
        transition: none;
    }

    &:active {
        background-size: 100%;
        transition: all 0.1s;
        transform: scale(0.95);
    }
}
