.nf {
    &__title {
        font-size: 10rem;
        margin: 2rem 0;
    }
    &__msg {
        margin: 2rem 0;
        font-size: 5rem;
    }

    &__link {
        text-decoration: underline;
    }
}
