.switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;

    &__holder { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__container{
        @include flex(center,center);
    }

    &__lang{
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0 1rem;
    }

    
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $toggle-bg;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $primary-text;
}

input:focus + .slider {
    box-shadow: 0 0 0.1rem $primary-text;
}

input:checked + .slider:before {
    -webkit-transform: translateX(2.6rem);
    -ms-transform: translateX(2.6rem);
    transform: translateX(2.6rem);
}


.slider.round {
    border-radius: 3.4rem;
}

.slider.round:before {
    border-radius: 50%;
}
