$mediaXS: 0;
$mediaSM: 768px;
$mediaMD: 1025px;
$mediaLG: 1440px;
$mediaMAX: 99999px;

$font-folder: "../../assets/fonts";

$black: #000000;
$white: #ffffff;
$red: #ff0000;
$primary-bg: #00203f;
$secondary-bg: #123559;
$primary-text: #adf0d1;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../assets/fonts" !default;

$icon-github: "\e900";
$icon-align-right: "\e908";
$icon-at-symbol: "\e91d";
$icon-close: "\e954";
$icon-envelope: "\e973";
$icon-link: "\e99e";
$icon-location: "\e9a3";
$icon-search: "\e9e1";
$icon-user-add: "\ea10";
